.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #b5b7c4;
  border-radius: 10px;
}
.titleCon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-family: 'Roboto';
  color: #b5b7c4;
}
.star-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
